.weather__search{
    display: flex;
    align-items: center;
}
.search__input > input{
    outline: none;
    padding: 4px 8px;
    border-radius: 8px;
    border: 1px solid;
    margin-right: 10px;
}